.note-list {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 20px;
}

.note-list.complete{
  opacity: 0.5;
  text-decoration: line-through;
}



.note-item {
  background-color: #F2F3F4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #e5e5ea;
  transition: background-color 0.2s;
  cursor: pointer;
}

.note-item.completed{
  background-color: #80FF80;
  color: white;
}

.note-item:last-child {
  border-bottom: none;
}

.note-item:hover {
  background-color: #2c2d38;
  border-radius: 10px;
  color: white;
}

.note-item.completed:hover{
  background-color: #67c967;
  color: white;
}

.note-item-group {
  display: flex;
  flex-direction: column;
}

.note-title {
  font-weight: 500;
  font-size: 1.1em;
  margin-bottom: 4px;
}

.note-date {
  font-size: 0.85em;
  color: #8e8e93;
}

.delete-button {
  background: none;
  border: none;
  color: #69696b;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  transition: color 0.2s, background-color 0.2s;
 position: relative;
 left: 120px;
}

.delete-button:hover {
  color: #ff3b30;
  background-color: rgba(255, 59, 48, 0.1);
}

.delete-button i {
  font-size: 1.1em;
}

.check-button {
  background: none;
  border: none;
  color: #69696b;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  transition: color 0.2s, background-color 0.2s;
}

.check-button i {
  font-size: 1.1em;
}


.check-button:hover {
  color: #46db6c;
  background-color: rgba(84, 248, 62, 0.1);
}